-e .
click==7.0
colorama==0.3.9
first==2.0.2
git-semver==0.2.3
gitdb2==2.0.5
gitpython==2.1.11
jinja2==2.10.1
markupsafe==1.1.1
mondrian==0.8.0
packaging==19.0
pbr==5.2.0
pip-tools==2.0.2
pyparsing==2.4.0
semantic-version==2.6.0
six==1.12.0
smmap2==2.0.5
stevedore==1.30.1
whistle==1.0.1
yapf==0.27.0
