-e .
click==7.1.2
colorama==0.4.4
git-semver==0.3.2
gitdb==4.0.7
gitpython==3.1.14
jinja2==2.11.3
markupsafe==1.1.1
mondrian==0.8.1
packaging==20.9
pbr==5.5.1
pip-tools==4.5.1
pyparsing==2.4.7
semantic-version==2.6.0
six==1.15.0
smmap==4.0.0
stevedore==3.3.0
whistle==1.0.1
yapf==0.31.0
